<nav class="navbar navbar-expand-sm sticky-top navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="https://thumbs.dreamstime.com/z/black-phoenix-bird-simple-art-draw-tattoo-logo-gradient-design-158339618.jpg" alt="Logo" style="width:40px;">
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" id="LinkedinDev">Linkedin Developer Site</a>
                </li>
            </ul>
        </div>
    </div>    
</nav>